* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: sans-serif;
    color: #967969;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 40px 40px;
    background-color: #Ffffff;
}

.header nav {
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-left: 3%;
}

.header nav a {
    color: #967969;
    text-decoration: none;
    margin: 0 10px;
    margin-left: 1.2%;
    margin-top: -3%;
}

.header h1{
    margin-left: 4%;
    margin-top: 1%;
}



#frontpage{
    color: #Ffffff;
    font-size: 150px;
    position: absolute;
    transform: translateY(-20%);
    right: 780px;
}

#home-title{
    font-size: 600%;
    margin-top: 16%;
    margin-left: 6%;
    
    
}

#home-title sup {
    font-size: 0.2em;
}

#slogan{
    
    font-weight: 900;
    margin-left: 8%;
    font-size: xx-small;
    

}

#about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1%;
    padding: 5%;
    padding-top: 1%;
    background-color: #Ffffff;
    color: #967969;
    width: 70%;
    margin: auto;
}

#about-content h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}

#about-info p {
    font-size: 1.5em;
    text-align: justify;
}

.emphasis {
    color: #967969;
    font-size: 1.2em;
    font-weight: bold;
}

#members {
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

#members h2 {
    font-size: 40px;
    text-align: center;
}

.member-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.member {
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-top: 20px;
    padding: 1%;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #967969;
    width: 80%;
    color: #Ffffff;
}

.member h3 {
    font-size: 25px;
}

.member p {
    font-size: 20px;
    margin-top: 1px;
    margin-bottom: 10%;
}

.member img {
    width: 30%;
    border-radius: 5px;
}

.member a {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 20px;
    color: #Ffffff;
    text-decoration: none;
}

.member-text {
    margin-left: 10%;
    margin-top: 5%;
    width: 70%;
}

@media (max-width: 1024px) {
    #about-content {
        width: 100%;
    }
    #about-content h1, h2 {
        font-size: 40px;
        text-align: center;
    }
    #about-content p {
        font-size: 20px;
    }
    #about-info p {
        width: 100%;
    }
    #members {
        width: 90%;
        margin: auto;
        margin-top: 10%;
    }
    .header {
        margin: 0;
        width: 100%;
        padding: 40px 0 40px 0;
        text-align: center;
    }
    .header h1 {
        margin: 0;
        font-size: 3em;
    }
    .header nav {
        width: 100%;
        justify-content: center;
        margin: 0;
        margin-top: 5%;
    }
    .header nav a {
        font-size: 1.9em;
    }
    .member-container {
        width: 100%;
    }
}

@media (max-width:500px) {
    .header h1 {
        margin: 0;
        font-size: 2em;
    }
    .header nav {
        margin-top: 9%;
    }
    .header nav a {
        font-size: 1.6em;
    }
    .member {
        width: 100%;
        padding: 3%;
        flex-direction: column;
        align-items: center;
    }
    .member h3 {
        font-size: 25px;
        margin-top: 10px;
        width: 100%;
    }
    .member p {
        font-size: 20px;
        margin-top: 1px;
        width: 100%;
    }
    .member img {
        width: 100%;
    }
    .member-text {
        margin: 1%;
        width: 100%;
        text-align: center;
    }
    .member-container {
        flex-direction: column;
        width: 100%;
    }
}