body{
    background-color: #4A2040;
}

h1{
    font-family: sans-serif;
    color: #Ffffff;
    font-size: 150px;
    position: absolute;
    transform: translateY(30%);
    right: 780px;
    
}

.slogan{
    font-family: sans-serif;
    color: #Ffffff;
    font-size: 150%;
    font-variant: small-caps;
    font-style: italic;
    position: absolute;
    transform: translateY(1050%);
    right: 65%;
  

}


.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
}



.member {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    width: 300px;
    text-align: center;
}

.member img {
    width: 100%;
    border-radius: 5px;
}